{% extends "Groupsign/base.html" %}
{% block title %}Login{% endblock %}
{% block head %}Login{% endblock %}
{% block content %}
<!----------alert verification------------------------------------------------->
{% if messages %}
    {% for message in messages %}
    <div class="col-sm-8 col-md-8 col-md-offset-2">
        {% if message.extra_tags %}
        <div class="alert alert-danger alert-dismissable">
        {% else %}
        <div class="alert alert-success alert-dismissable">
        {% endif %}
            <a href="#" class="close" data-dismiss="alert" aria-label="close"><span class="glyphicon glyphicon glyphicon-remove"></span></a>
            <b>{{ message }}</b>
        </div>
    </div>
    {% endfor %}
{% endif %}
<!--------------------------------------------------------------------------------------------->

<div class="col-sm-8 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon glyphicon-log-in"></span><b> Log In</b></div>
        <div class="panel-body">
            <!----------------------------------------------------------------------------->
            <form class="form-horizontal" method="post">{% csrf_token %}
            {% for field in form %}
            <div class="form-group">
            <label class="control-label col-sm-3">{{ field.label }}</label>
            <div class="col-sm-8">{{ field }} </div>
            </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-8">
                <button type="submit" class="btn btn-default btn-block">Submit</button>
                </div>
            </div>
            </form>
<!---------------------------------------------------------------------------->
        </div>
        <div class="panel-footer"><a href="/register/"><span class="glyphicon glyphicon glyphicon-user"></span> Register</a> as New User </div>
    </div>
</div>
{% endblock %}